body {
  color: #eae9fc;
  margin: 0px auto;
  background: #0c0d0d;
  max-width: 60%;
  min-width: 500px;
  justify-self: center;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  margin: 0vw auto;
  width: calc(100% - 8px);
  max-width: 400px;
  border-bottom: 1px #eae9fc solid;
}

p {
  height: 1000px;
}