.hero {
  display: flex;
  flex-direction: column;
}

.name {
  background: linear-gradient(120deg, var(--primary), var(--accent));
  align-items: center;
  justify-content: flex-start;
}

.hero-info {
  align-items: center;
}
