.hero {
  display: flex;
  flex-direction: column;
}

.name {
  background: linear-gradient(120deg, #00DBD4, #00DB3F);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.hero-info {
  align-items: center;
}
